<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>岛上书店</string>
		<key>ISBN</key>
		<string>7539971819, 9787539971810</string>
		<key>Author</key>
		<string>加布瑞埃拉·泽文 (Gabrielle Zevin) (作者), 孙仲旭 (译者), 李玉瑶 (译者)</string>
		<key>Price</key>
		<string>￥24.10</string>
		<key>Intro</key>
		<string>《岛上书店》内容简介：岛上书店是间维多利亚风格的小屋，门廊上挂着褪色的招牌，上面写着： 没有谁是一座孤岛，每本书都是一个世界。
A．J．费克里，人近中年，在一座与世隔绝的小岛上，经营一家书店。命运从未眷顾过他，爱妻去世，书店危机，就连值钱的宝贝也遭窃。他的人生陷入僵局，他的内心沦为荒岛。就在此时，一个神秘的包袱出现在书店中，意外地拯救了陷于孤独绝境中的A．J．，成为了连接他和小姨子伊斯梅、 警长兰比亚斯、出版社女业务员阿米莉娅之间的纽带，为他的生活带来了转机。小岛上的几个生命紧紧相依，走出了人生的困境，而所有对书和生活的热爱都周而复始，愈加汹涌。</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>从0到1:开启商业与未来的秘密</string>
		<key>ISBN</key>
		<string>7508649710, 9787508649719</string>
		<key>Author</key>
		<string>彼得·蒂尔 (作者), 布莱克·马斯特斯 (作者), 高玉芳 (译者)</string>
		<key>Price</key>
		<string>￥27.00</string>
		<key>Intro</key>
		<string>硅谷创投教父、PayPal创始人作品
斯坦福大学改变未来的一堂课
为世界创造价值的商业哲学

在科技剧烈改变世界的今天，想要成功，你必须在一切发生之前研究结局。
你必须找到创新的独特方式，让未来不仅仅与众不同，而且更加美好。
从0到1，为自己创造无限的机会与价值！

在传统时代，成功企业的商业模式是一个从1到N的过程，也就是在现有基础上，复制之前的经验，通过竞争不断扩大自己的市场影响力。而在互联网时代，成功的企业却是一个从无到有，即从0到1创造市场的过程。
《从0到1》为你开启创新的秘密。PayPal公司创始人、Facebook首位外部投资者彼得•蒂尔在本书中详细阐述了自己的创业历程与心得，包括如何避免竞争、如何进行垄断、如何发现新的市场。《从0到1》还将带你穿越哲学、历史、经济等多元领域，解读世界运行的脉络，分享商业与未来发展的逻辑，帮助你思考从0到1的秘密，在意想不到之处发现价值与机会。
更多精彩请阅读“奇点系列”：《从0到1》《联盟》《创业维艰》《支付战争》。</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>追风筝的人</string>
		<key>ISBN</key>
		<string>7208061645, 9787208061644</string>
		<key>Author</key>
		<string>卡勒德•胡赛尼 (Khaled Hosseini) (作者), 李继宏 (译者)</string>
		<key>Price</key>
		<string>￥17.70</string>
		<key>Intro</key>
		<string>《追风筝的人》内容简介：“许多年过去了，人们说陈年旧事可以被埋葬，然而我终于明白这是错的，因为往事会自行爬上来。回首前尘，我意识到在过去二十六年里，自己始终在窥视着那荒芜的小径。”

12岁的阿富汗富家少爷阿米尔与仆人哈桑情同手足。然而，在一场风筝比赛后，发生了一件悲惨不堪的事，阿米尔为自己的懦弱感到自责和痛苦，逼走了哈桑，不久，自己也跟随父亲逃往美国。
成年后的阿米尔始终无法原谅自己当年对哈桑的背叛。为了赎罪，阿米尔再度踏上暌违二十多年的故乡，希望能为不幸的好友尽最后一点心力，却发现一个惊天谎言，儿时的噩梦再度重演，阿米尔该如何抉择？

小说如此残忍而又美丽，作者以温暖细腻的笔法勾勒人性的本质与救赎，读来令人荡气回肠。</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>解忧杂货店</string>
		<key>ISBN</key>
		<string>9787544270878</string>
		<key>Author</key>
		<string>东野圭吾 (作者), 李盈春 (译者)</string>
		<key>Price</key>
		<string>￥28.20</string>
		<key>Intro</key>
		<string>日本作家东野圭吾的《解忧杂货店》，出版当年即获中央公论文艺奖。作品超越推理小说的范围，却比推理小说更加扣人心弦。

僻静的街道旁有一家杂货店，只要写下烦恼投进店前门卷帘门的投信口，第二天就会在店后的牛奶箱里得到回答：因男友身患绝症，年轻女孩静子在爱情与梦想间徘徊；克郎为了音乐梦想离家漂泊，却在现实中寸步难行；少年浩介面临家庭巨变，挣扎在亲情与未来的迷茫中……

他们将困惑写成信投进杂货店，奇妙的事情随即不断发生。生命中的一次偶然交会，将如何演绎出截然不同的人生？</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>摆渡人</string>
		<key>ISBN</key>
		<string>7550013241, 9787550013247</string>
		<key>Author</key>
		<string>克莱儿·麦克福尔 (Claire McFall) (作者), 付强 (译者)</string>
		<key>Price</key>
		<string>￥18.00</string>
		<key>Intro</key>
		<string>单亲女孩迪伦，15岁的世界一片狼藉：与母亲总是无话可说，在学校里经常受到同学的捉弄，唯独谈得来的好友也因为转学离开了。这一切都让迪伦感到无比痛苦。
她决定去看望久未谋面的父亲，然而，路上突发交通事故。等她拼命爬出火车残骸之后，却惊恐地发现，自己是仅有的幸存者，而眼前，竟是一片荒原。
此时，迪伦看到不远处的山坡上一个男孩的身影。
男孩将她带离了事故现场。但是，迪伦很快意识到，男孩并不是偶然出现的路人，他似乎是特意在此等候。
命运，从他们相遇的那刻开始，发生了无法预料的转变……</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>一个人的朝圣</string>
		<key>ISBN</key>
		<string>7550213526, 9787550213524</string>
		<key>Author</key>
		<string>蕾秋•乔伊斯 (Rachel Joyce) (作者), 黄妙瑜 (译者)</string>
		<key>Price</key>
		<string>￥22.60</string>
		<key>Intro</key>
		<string>《一个人的朝圣》内容简介：哈罗德•弗莱，六十岁，在酿酒厂干了四十年销售代表后默默退休，没有升迁，既无朋友，也无敌人，退休时公司甚至连欢送会都没开。他跟隔阂很深的妻子住在英国的乡间，生活平静，夫妻疏离，日复一日。一天早晨，他收到一封信，来自二十年未见的老友奎妮。她患了癌症，写信告别。震惊、悲痛之下，哈罗德写了回信，在寄出的路上，他由奎妮想到了自己的人生，经过了一个又一个邮筒，越走越远，最后，他从英国最西南一路走到了最东北，横跨整个英格兰。87天，627英里，只凭一个信念：只要他走，老友就会活下去！这是哈罗德千里跋涉的故事。从他脚步迈开的那一刻起，与他六百多英里旅程并行的，是他穿越时光隧道的另一场旅行。</string>
	</dict>
</array>
</plist>
